::-webkit-scrollbar {
    width: 100%;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d00000;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d00000;
}

.title-test {
    position: relative;
    text-transform: uppercase;
}



.title-test::before {
    content: "Tokenomics";
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    font-weight: 800;
    font-size: 200px;
    font-family: Arial;
    -webkit-text-stroke: 0.6px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: .9;
    transform: translate(-50%, -50%);
    overflow: hidden;



}

.heah {
    font-size: 9vmin;
    /* color: #e4e7eb; */
    text-align: left;
    font-family: 'Unbounded', cursive;
    font-weight: 700;
    margin: 1rem 0 1rem 2rem;
    text-align: center;
}

/* Typewriter effect 1 */
@keyframes typing {

    0.0000%,
    27.3488% {
        content: "";
    }

    1.1395%,
    26.2093% {
        content: "B";
    }

    2.2791%,
    25.0698% {
        content: "BN";
    }

    3.4186%,
    23.9302% {
        content: "BNB";
    }

    4.5581%,
    22.7907% {
        content: "BNBD";
    }

    5.6977%,
    21.6512% {
        content: "BNBDA";
    }

    6.8372%,
    20.5116% {
        content: "BNBDAD";
    }

    7.9767%,
    19.3721% {
        content: "BNBDADD";
    }

    9.1163%,
    18.2326% {
        content: "BNBDADDY";
    }

    10.2558%,
    17.0930% {
        content: "BNBDADDY";
    }

    30.7674%,
    51.2791% {
        content: "";
    }

    31.9070%,
    50.1395% {
        content: "T";
    }

    33.0465%,
    49.0000% {
        content: "Tr";
    }

    34.1860%,
    47.8605% {
        content: "Tru";
    }

    35.3256%,
    46.7209% {
        content: "Trus";
    }

    36.4651%,
    45.5814% {
        content: "Trust";
    }

    37.6047%,
    44.4419% {
        content: "Trusted";
    }

    54.6977%,
    75.2093% {
        content: "";
    }

    55.8372%,
    74.0698% {
        content: "R";
    }

    56.9767%,
    72.9302% {
        content: "Re";
    }

    58.1163%,
    71.7907% {
        content: "Reli";
    }

    59.2558%,
    70.6512% {
        content: "Reliab";
    }

    60.3953%,
    69.5116% {
        content: "Reliabl";
    }

    61.5349%,
    68.3721% {
        content: "Reliable";
    }

    78.6279%,
    96.8605% {
        content: "";
    }

    79.7674%,
    95.7209% {
        content: "U";
    }

    80.9070%,
    94.5814% {
        content: "Un";
    }

    82.0465%,
    93.4419% {
        content: "Uni";
    }

    83.1860%,
    92.3023% {
        content: "Uniq";
    }

    84.3256%,
    91.1628% {
        content: "Unique";
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.typewriter {
    --caret: currentcolor;
}

.typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
}

.typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
    border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
    border-right: 0;
}


@media (prefers-reduced-motion) {
    .typewriter::after {
        animation: none;
    }

    @keyframes sequencePopup {

        0%,
        100% {
            content: "BNBDADDY";
        }

        25% {
            content: "Trusted";
        }

        50% {
            content: "Reliable";
        }

        75% {
            content: "Unique";
        }
    }

    .typewriter::before {
        content: "BNBDADDY";
        animation: sequencePopup 12s linear infinite;
    }
}

/**/



@media (min-device-width: 300px) and (max-device-width: 700px) {
    .title-test::before {

        overflow: hidden;
        font-size: 13vmin;
        top: 100%;
    }

    .heah {
        font-size: 5vmin;

    }

}